* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--white);
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--background-container);
    box-shadow: 2px 4px 6px rgba(0, 0, 3, 0.125);
    border: solid 1px var(--form-border-adm);
    border-radius: 30px;

    width: 70%;
    height: 90vh;
    padding: 30px 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 20px;
}

.search-input {
    background-color: var(--white);
    border: solid 1px var(--form-border-adm);
    border-radius: 30px;
    padding: 10px 20px;
    box-shadow: 2px 4px 6px rgba(0, 0, 3, 0.125);
    font-size: 1.2rem;
    color: var(--dark-blue-txt);

    width: 500px;
}

.search-input::placeholder {
    color: var(--dark-blue-txt);
}

.submit-btn {
    background-color: var(--white);
    border: solid 1px var(--form-border-adm);
    border-radius: 30px;
    padding: 10px 20px;
    box-shadow: 2px 4px 6px rgba(0, 0, 3, 0.125);
    font-size: 1.2rem;
    color: var(--dark-blue-txt);

    margin-right: 30px;
}

.register {
    background-color: var(--white);
    border: solid 1px var(--form-border-adm);
    border-radius: 30px;
    padding: 10px 20px;
    box-shadow: 2px 4px 6px rgba(0, 0, 3, 0.125);
    font-size: 1.2rem;
    color: var(--dark-blue-txt);
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.employee {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 903px;
    
    background-color: var(--form-color-adm);
    border: solid 1px var(--form-border-adm);
    border-radius: 30px;
    padding: 10px 20px;
    box-shadow: 2px 4px 6px rgba(0, 0, 3, 0.125);
    font-size: 1.2rem;
    color: var(--dark-blue-txt);
}


/* TELA DE REGISTRO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--white);
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;

    background-color: var(--background-container);
    box-shadow: 2px 4px 6px rgba(0, 0, 3, 0.125);
    border: solid 1px var(--form-border-adm);
    border-radius: 30px;

    width: 70%;
    height: 90vh;
    padding: 30px 20px;
}

.back-btn {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    border: solid 1px var(--dark-blue-txt);
    color: var(--dark-blue-txt);
}

h1{
    margin: 10px 0;
    text-align: center;
}



